html {
    color:beige;
    background-image: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-0.3.5&s=adfec551060b40650fac7f57de694c9b&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: rgba(0,0,0,0.5);
    color:antiquewhite;
    padding: 50px;
    height: 100%;
    width:65%;
    margin:0 auto;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body{
    height: 100%;
}

h1,h3 {
    color:lightgreen; 
    text-align: center;
}

h1 {
    color:springgreen;
}

#avatar {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* skill bar */
.container {
  width: 100%;
  background-color:white;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 15px;
  color: white;
}

.python {width: 85%; background-color: #4CAF50;}
.java {width: 45%; background-color: #2196F3;}
.html {width: 70%; background-color: #f44336;}
.css {width: 45%; background-color: #808080;}

/*socmed*/
.socmed { 
    font-size: 60px;
    text-align: center; 
}
.socmed a {
    color:white; 
}
